body {
    margin: 0px;
}
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        max-width: 500px;
        display: flex;
        align-items: center;
        margin-top: 30px;
        padding: 0px 15px;
        box-sizing: border-box;
        flex-direction: column;
    }

    .row-item {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 330px;
        height: 50px;
        background: linear-gradient(to right, #a1ffce, #faffd1);
        border-radius: 30px;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        cursor: pointer;
        .logo {
            width: 35px;
            height: 35px;
            border-radius: 50px;
            margin-right: 15px;
        }

        .desc {
            font-size: 13px;
            font-weight: bold;
        }
    }
}
